body {
    background-color:black;
}

h1 {
    color:lightgoldenrodyellow;
}

h2 {
    color:lightgoldenrodyellow;
}


h3 {
    color:lightgoldenrodyellow;
}

h4 {
    color:lightgoldenrodyellow;
}

h5 {
    color:lightgoldenrodyellow;
}
p {
    color:lightgoldenrodyellow;
}
