body {
    background-color: black;
    color: lightgoldenrodyellow;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    padding: 20px;
}

h1, h2, h3, h4, h5 {
    color: white;
}

p {
    color: white;
}

.mc-skin {
    width: 200px;   
    height: auto; 
    border-radius: 10px; 
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

