.europestate  { width: 385px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px; }

body {
    background-color: black;
    color: white; 
    font-family: Arial, sans-serif;
    line-height: 1.5;
    padding: 20px;
}

.button-link {
    background-color: #ffb300;
    color: black;
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
}

.button-link:hover {
    background-color: #ff9800;
}
