body {
    background-color: black;
    color: white; 
    font-family: Arial, sans-serif;
    line-height: 1.5;
    padding: 20px;
}

p {
    color: white;
}

.mc-skin {
    width: 300px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
